%p#notice= notice

%p
  %b For:
  = @bill.for
%p
  %b Start:
  = @bill.start
%p
  %b End:
  = @bill.end
%p
  %b Amount:
  = @bill.amount

= link_to 'Edit', edit_bill_path(@bill)
\|
= link_to 'Back', bills_path
