= form_for @bill_share do |f|
  - if @bill_share.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bill_share.errors.count, "error")} prohibited this bill_share from being saved:"
      %ul
        - @bill_share.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :percent
    = f.text_field :percent
  .field
    = f.label :bill_id
    = f.number_field :bill_id
  .actions
    = f.submit 'Save'
